.searchBtn {
    font-size: 1.2rem;
    padding: 1rem 1rem;
}
.table {
    font-size: 2rem;
}

.searchForm {
    padding: 20px 20px 0px 20px;
    text-align: center;
}

.btnGroup > * {
    // padding: 5px 20px;
    // width: 100px;
    font-size: 1.2rem;
    margin: 0px 5px;
}

@media screen and (max-width: 430px) {
    .searchBtn {
        font-size: 1rem;
    }
    .table {
        font-size: 0.8rem;
    }
}
