@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-table-column-title {
    padding-left: 26px;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 430px) {
    .ant-table-column-title {
        padding-left: 0;
    }

    main {
        .main-nav {
            display: block;
        }
    }
}
